<nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: #2a8a15;">
  <div class="container">
    <a class="navbar-brand fs-3 fw-bold" href="/">🌿 CropCare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-3">
        <li class="nav-item"><a class="nav-link fw-semibold" href="/disease-detect">🔬 Disease Detector</a></li>
      </ul>
      <% if (typeof currentUser !== 'undefined' && currentUser) { %>
        <a href="/dashboard" class="btn btn-light me-2">Dashboard (<%= currentUser.username %>)</a>
        <a href="/logout" class="btn btn-outline-light">Logout</a>
      <% } else { %>
        <a href="/login" class="btn btn-light me-2">Login</a>
        <a href="/signup" class="btn btn-outline-light">Sign Up</a>
      <% } %>
    </div>
  </div>
</nav>
