.body{
      font-family: "Plus Jakarta Sans", sans-serif !important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
        background-color: #f0f8ff;
}

.container {
    flex: 1;
    padding: 20px;
}
/* navbar */
#navbar{
   height:5rem;
   background-color: #228B22!important;

}
.fa-seedling{
    color:#ffffff !important;
}

.nav-link{
    color:#ffffff !important;
}

/* footer */

.footer {
  position: relative;
  bottom: auto;
  left: 0;
  width: 100%;
  background: rgba(240, 248, 255, 0.9);
  padding: 15px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  margin-top: auto;
}

.footer-top {
  margin-bottom: 15px;
}

.footer-top p {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color:rgb(1, 110, 1)  /* blue hover */
}

.footer-bottom {
  font-size: 14px;
  color: #555;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color:rgb(1, 103, 1);
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.card .card-img-overlay{
    opacity:3 ;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white !important;
}

.listing-link{
    text-decoration: none;
}

.show-img{
    max-width: 400px;
    height: auto;
    border-radius:15px ;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.navbar-brand{
  color: #ffffff !important;
  font-size: large!important;
}
.navbar-toggler{
  color: #ffffff !important;
}
.card {
  margin-bottom: 25px; /* adjust as needed */
  width: 400px;
}

#vendor-delete-btn{
  color: rgb(209, 8, 8);
  font-weight: bold;
  /* background-color:rgba(255, 255, 0, 0.671); */
}

body {
  background-color: #f6fff6;
  font-family: 'Poppins', sans-serif;
}

.homee {
  border-radius: 15px;
  transition: 0.3s;
}

.homee:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

h1, h4 {
  color: #228B22!important;
}