body {
  background-color: #f6fff6;
  font-family: 'Poppins', sans-serif;
}

.homee {
  border-radius: 15px;
  transition: 0.3s;
}

.homee:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

h1, h4 {
  color: #1b5e20;
}
