<% layout('layouts/boilerplate2') %>
<div class="container mt-4">
  <h2 class="text-success mb-3">Add New Government Scheme</h2>
  <form action="/schemes" method="POST" class="card p-4 shadow-sm">
    <div class="mb-3">
      <label class="form-label">Scheme Title</label>
      <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="description" class="form-control" rows="3" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Department</label>
      <input type="text" name="department" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Subsidy / Benefit</label>
      <input type="text" name="subsidy" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Eligibility</label>
      <textarea name="eligibility" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Apply Link (Govt Website)</label>
      <input type="url" name="applyLink" class="form-control">
    </div>

    <button type="submit" class="btn btn-success w-100">Submit</button>
  </form>
</div>
